@model List<DATA.Domains.Trademark>
@{
    int counter = 0;
}

<main>
    <div class="container-fluid">
        <!-- START: Breadcrumbs-->
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Search</h4></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Trade Mark</li>
                        <li class="breadcrumb-item">Search</li>

                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->
        <div class="row">
            <div class="col-12 col-sm-12 mt-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Trade Marks</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="myTable">
                                <thead>

                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Bussiness Name</th>
                                        <th scope="col">Owner Name</th>
                                        <th scope="col">Contact</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Detail</th>
                                        <th scope="col">Edit</th>
                                    </tr>
                                    <tr>
                                        <th scope="col"><i class="icon-magnifier"></i></th>
                                        <th scope="col"><input class="form-control" id="name" onkeyup="SearchBussinessName()" /></th>
                                        <th scope="col"><input class="form-control" id="address" onkeyup="SearchOwner()" /></th>
                                        <th scope="col"><input class="form-control" id="bank" onkeyup="SearchContact()" /></th>
                                        <th scope="col"><input class="form-control" id="Detail" onkeyup="SearchAdress()" /></th>
                                        <th scope="col"><input class="form-control" id="type" onkeyup="SearchDetail()" style="width:100px" /></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        counter++;
                                        <tr>
                                            <td scope="row">@counter</td>
                                            <td>@item.BussinessName</td>
                                            <td>@item.OwnerName</td>
                                            <td>@item.Contact</td>
                                            <td>@item.Address</td>
                                            <td>@item.Detail</td>
                                            <td><a class="btn btn-warning rounded-btn" href="~/trademark/edit/@item.Id"><i class="icon-pencil"></i></a></td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<script>
    function SearchBussinessName() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("name");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function SearchOwner() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("address");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function SearchContact() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("bank");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function SearchAdress() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("Detail");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function SearchDetail() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("type");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>